<!DOCTYPE html>
<html>
    <head>
        <title>Tic-Tac-Toe Game</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="TicTacToe.css" rel="stylesheet" type="text/css"/>
    </head>
    <body class="container">
        <div ng-app="ticTacToeApp" ng-controller="TicTacToeController">
            <div ng-show="result" class="alert alert-info">
                <h1>This game is already over.</h1>
            </div>
            <div>
                Board Size :
                <label>
                    <select ng-model='boardSize' ng-change="changeBoardSize()">
                        <option ng-repeat="boardSizeOption in boardSizeOptions"
                            ng-selected="{{boardSizeOption == 3}}"
                            value="{{boardSizeOption}}">
                            {{boardSizeOption}} X {{boardSizeOption}}
                        </option>
                    </select>
                </label>
            </div>
            <div>
                <h2>{{currentPlayer}}'s Turn</h2>
                <game-result ng-show="winner"></game-result>
                <table class="table table-bordered">
                    <tr ng-repeat="row in boardIndex">
                        <td ng-repeat="column in boardIndex" ng-click="cellClick(row,column)" class="cell">{{cellText(row,column)}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="TicTacToeCtrl.js" type="text/javascript"></script>